<!DOCTYPE html>
<head>
  <title>
    Designable Playground
  </title>
  <style>
    html,body{
      user-select: none;
      -webkit-user-select: none;
    }
  </style>
</head>
<body>
  <div id="root">
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/18.2.0/umd/react.production.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/18.2.0/umd/react-dom.production.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/antd/4.15.2/antd-with-locales.min.js"></script>
</body>
